*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #c2c2c2;
  padding-top: 150px;
}
.grid {
  text-align: center;
  font-weight: bolder;
}
.letter-anim, .letter-anim span {
  display: inline-block;
}
.grid span {
  cursor: pointer;
  position: relative;
  font-size: 250px;
  perspective: 550px;
}
.letter-anim span::before,
.letter-anim span::after {
  position: absolute;
  content: attr(data-letter);
  inset: 0;
  transform-origin: left;
}
.letter-anim span::before {
  transition: transform 0.4s ease-out;
  color: rgba(0,0,0,0.122);
}
.letter-anim span::after {
  color: #f1f1f1;
  transition: 
  transform 0.4s ease-out,
  color 0.4s ease-out;
  transform: rotateY(-30deg);
}
.letter-anim:hover span::after {
  transform: rotateY(-40deg);
}
.letter-anim:hover span::before {
  transform: scaleX(0.85) skewY(20deg);
}
.letter-anim:nth-child(1):hover  span::after {  color:red;}
.letter-anim:nth-child(2):hover  span::after {  color:#4B88A2;}
.letter-anim:nth-child(3):hover  span::after {  color: #EF27A6;}
.letter-anim:nth-child(4):hover  span::after {  color: #30dc0e;}
.letter-anim:nth-child(5):hover  span::after {  color: #E4FF1A;}

